/* --- entrypoint for app ---*/
@use 'vars';
@use './dark';

// The styles below will only apply if the user's OS is set to a light theme.
@media (prefers-color-scheme: light) {
    :root {
        --active-highlight-color: #{vars.$activeHighlightColor};
        --body-bg-color: #f0f0f0;
        --kl-color: #{vars.$klColor};
        --ui-bg-color: #dddddd;
    }

    body {
        color-scheme: light;
        background-color: var(--body-bg-color);
        color: #333;
    }

    a:link,
    a:not([href]) {
        color: var(--kl-color);
    }
    a:visited {
        color: #536184;
    }
    a:hover,
    a:not([href]):hover {
        color: #000;
    }

    .kl-select {
        background: #fff;
    }

    .grid-hr {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }

    .kl-toolspace {
        background-color: var(--ui-bg-color);
    }

    .kl-toolspace--left {
        border-right: 1px solid rgb(135, 135, 135);
    }

    .kl-toolspace--right {
        border-left: 1px solid rgb(135, 135, 135);
    }

    .kl-toolspace-row {
        background: none;
        box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.1),
            0 1px #cecece;
    }

    .toolspace-row-button-hover {
        background: rgba(255, 255, 255, 0.7);
    }

    .toolspace-row-button:active,
    .toolspace-triangle-button:active {
        background-color: #ddd;
    }

    .toolspace-svg-triangle-button-hover {
        fill: rgba(255, 255, 255, 0.7);
    }

    .toolspace-svg-triangle-button:active {
        fill: #ddd;
    }

    .toolspace-row-button-activated {
        background: #fff;
        box-shadow: inset 0 2px 0 0 var(--active-highlight-color);
    }

    .kl-tool-row-border-right {
        border-right: 1px solid rgb(212, 212, 212);
    }

    .kl-color-picker__h,
    .kl-color-picker__sv,
    .kl-color-picker__preview {
        box-shadow: 0 0 0 1px rgb(188, 188, 188);
    }

    .kl-color-picker--active {
        box-shadow: 0 0 0 1px #fff;
    }

    .kl-color-picker__secondary {
        box-shadow: 0 0 0 1px rgb(188, 188, 188);
    }

    .color-picker-preview-button-hover {
        background-color: #fff;
    }

    .color-picker-preview-button-active {
        background-color: #fff;
        box-shadow: inset 0 2px 0 0 var(--active-highlight-color);
    }

    .slider-wrapper {
        background: #a8a8a8;
        color: #333;
    }

    .slider-wrapper--active {
        background: #888888;
        color: #000;
    }

    .slider-inner {
        background-color: #f0f0f0;
        background-image: none;
    }

    .kl-point-slider__line {
        background: #aaa;
    }

    .kl-point-slider__point {
        background-color: #eaeaea;
    }

    button {
        color: #666;
        background-color: #f3f3f3;
        background-image: none;
    }

    button:hover {
        background-color: #fff;
        color: #777;
    }

    button:active {
        background-color: #ddd;
    }

    button:disabled {
        color: #999;
        background-color: #ddd;
        background-image: none;
    }

    .kl-button-primary {
        background: var(--kl-color);
        color: #fff;
    }
    .kl-button-primary:hover {
        background-image: none;
        background-color: lighten(vars.$klColor, 10%);
        color: #fff;
    }
    .kl-button-primary:active {
        background-image: none;
        background-color: lighten(vars.$klColor, 5%);
        color: #fff;
    }

    .kl-popup {
        background: rgba(50, 50, 50, 0.5);
    }

    .kl-popup-box {
        background-color: #ddd;
    }

    .kl-d-modal-root {
        background: rgba(0, 0, 0, 0.45);
    }

    .kl-d-modal {
        background: #eee;
    }

    .kl-checkbox--highlight {
        background: #bed5ff;
    }

    .kl-checkbox__inner {
        color: rgba(0, 0, 0, 0.6);
    }

    .kl-checkbox__inner:hover {
        color: rgba(0, 0, 0, 1);
    }

    .kl-layer {
        background-color: rgb(220, 220, 220);
        border: 1px solid rgb(158, 158, 158);
        background-image: none;

        .kl-layer__label,
        .kl-layer__opacity-label {
            color: #666;
        }
    }

    .kl-layer--selected {
        background: #fff;
        border: 1px solid var(--active-highlight-color);

        .kl-layer__label {
            color: #000;
        }
    }

    .info-hint {
        background: rgb(255, 132, 115);
        border: 1px solid #d00000;
    }

    textarea,
    input {
        background: #fff;
    }

    textarea:focus,
    input:focus {
        background: #fff;
    }

    .popup-x {
        filter: brightness(0.9);
    }
    .popup-x:hover {
        filter: brightness(0.5);
    }

    .brush-alpha--selected {
        background-color: #fff;
    }

    .tabrow {
        background: none;
        border-bottom: 1px solid #dcdcdc;
    }

    .tabrow__tab-hover {
        background-color: #fff;
    }

    .tabrow__tab--opened,
    .tabrow__tab--opened-accented {
        background-color: #f5f5f5;
    }

    .tabrow__tab__rounding-left,
    .tabrow__tab__rounding-right {
        background: #f5f5f5;
    }

    .kl-option {
        background: var(--ui-bg-color);
        color: rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);

        &:not(.kl-option-selected):hover {
            background: #eee;
        }
    }

    .kl-option-selected {
        background: #fff;
        color: #000;
        box-shadow: inset 0 0 0 2px var(--active-highlight-color);
    }

    .kl-box-toggle {
        color: rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);

        &:not(.kl-box-toggle--active):hover {
            background: #eee;
        }
    }

    .kl-box-toggle--active {
        background: #fff;
        color: #000;
        box-shadow: inset 0 0 0 2px var(--active-highlight-color);
    }

    .kl-color-option {
        box-shadow: 0 0 0 1px #aaa;
    }

    .kl-color-option--active {
        box-shadow:
            0 0 0 2px var(--active-highlight-color),
            0 0 5px 0 var(--active-highlight-color);
    }

    .tool-dropdown-wrapper {
        background: rgb(241, 241, 241);
    }

    .tool-dropdown-button:hover {
        background: #fff;
    }

    .tool-dropdown-button:active {
        background-color: #ddd;
    }

    .image-toggle:not(.image-toggle-active):hover {
        background: #fff;
    }

    .image-toggle-active {
        background-color: #fff;
    }

    .kl-2-tabs {
        .kl-2-tabs__left,
        .kl-2-tabs__right {
            border: 1px solid rgba(0, 0, 0, 0.6);
            color: rgba(0, 0, 0, 0.6);
            &:hover {
                background: #eee;
            }
        }

        .kl-2-tabs--active {
            color: #000;
            background: #fff;
            border: 1px solid var(--active-highlight-color);
            &:hover {
                background: #fff;
            }
        }
    }
    
    .kl-layer-preview {
        color: #555;
        canvas {
            box-shadow: 0 0 0 1px #9e9e9e;
        }
    }

    .kl-edit-crop-preview {
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }

    .kl-text-error {
        color: #f00;
    }

    .kl-file-no-autosave {
        background: rgb(243, 243, 161);
        color: rgba(0, 0, 0, 0.65);
    }

    .kl-preview-wrapper {
        background-color: #9e9e9e;
    }

    .kl-toolspace-note {
        color: #534a3c;
        background: rgba(255, 255, 0, 0.5);
        border: 1px solid #e7d321;
    }

    .kl-import-note {
        background: rgba(255, 255, 0, 0.5);
        border: 1px solid #e7d321;
    }

    .kl-curves-graph canvas {
        background: #c6c6c6;
    }

    .kl-curves-graph__grip {
        background: #fff;
    }

    .kl-storage-preview {
        box-shadow: inset 0 0 0 1px #aaa;
        background: #cdcdcd;
        color: #545454;
    }
    
    .kl-storage-preview__im {
        box-shadow: 0 0 0 1px #aaa;
    }

    .kl-info-btn {
        box-shadow: inset 0 0 0 1px #000;
    }

    .kl-dropdown-menu {
        background: #ddd;
    }

    .kl-pinch-overlay {
        background: rgba(255, 255, 255, 0.5);
    }
}